html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image: url('http://www.debate.org/photos/albums/1/4/3530/144425-3530-smyhr-a.jpg');
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
  color: #e00;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 8px #000;
  line-height: .8em;
}
span {
  font-size: 60%;
  color: #fff;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

.messages-container {
  margin: 10px;
  border: 1px solid #555;
  background-color: #ddd;
  border-radius: 3px;
}

div div {
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 5px;
  background-color: white;
  margin: 1px;
}
div div:first-child {
  box-sizing: border-box;
  border: 1px solid #333;
  padding: 11px;
  background-image: radial-gradient(#fee 50%,#a44 80%);
  text-align: center;
  vertical-align: middle;
  height: 50px;
  margin: 0 0 3px 0;
  border-radius: 2px;
  color: #333;
}
h3 {
  margin: 0;
  font-weight:bold;
}
